body {
  background-color: #00A8B8;
}
div {
  background-color: lightblue;
  color: white;
  font-size: 18rem;
  font-family: lato;
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
  box-shadow: 4px 4px 5px navy;
  padding: 1rem;
  text-align: center;
  margin: none;
  display: inline-block;
}

.position {

  margin: 20%;
  background-color: #00A8B8;
}
