button {
  font-size: 40px;
  border-radius: 6px;
  color: black;
  padding: 2rem;
  text-shadow: 1px 1px 2px black;
}
div {
  background-color: #b5bbbc;
  color: white;
  font-size: 18rem;
  font-family: Helvetica;
  text-shadow: 1px 1px 2px black, 0 0 5px grey;
  box-shadow: 4px 4px 5px #0e4d5b;
  padding: 1rem;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
}

.position {
  margin: 10%;
}

.highlight {
  background-color: #22727f;

}
.displayAlert {
  font-size: 5rem;
  text-align: center;
  color: #303338;
  text-shadow: 1px 1px 2px black;
}
.numbers {
  width: 20%;
}
